@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
}

@CurrentPage.GetGridHtml("content", "fanoe")
	
<div class="container">
	<form id="test-form">
		<p>sample form to test form submits</p>
		<button>Submit</button>
	</form>
</div>